.Button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff0055;
  border-radius: 4px;
  background: #ff0055;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.Button:focus {
  outline: none;
}

.Button:hover,
.Button:active {
  background: #ff4382;
  border-color: #ff4382;
}

.ButtonInverse {
  background: transparent;
  color: #ff0055;
}

.ButtonInverse:hover,
.ButtonInverse:active {
  color: white;
  background: #ff0055;
}

.ButtonDanger {
  background: #830000;
  border-color: #830000;
}

.ButtonDanger:hover,
.ButtonDanger:active {
  background: #f34343;
  border-color: #f34343;
}

.Button:disabled,
.Button:hover:disabled,
.Button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.ButtonSmall {
  font-size: 0.8rem;
}

.ButtonBig {
  font-size: 1.5rem;
}